<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns="http://java.sun.com/xml/ns/javaee"
xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">

  <listener>
    <listener-class>
      com.goatstone.multidraw.ContextListener
    </listener-class>
  </listener>

	<servlet>
		<servlet-name>MultiDraw</servlet-name>
		<servlet-class>com.goatstone.multidraw.MultiDrawServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>MultiDraw</servlet-name>
		<url-pattern>/multidraw</url-pattern>
	</servlet-mapping>
	
	
 <servlet>
      <servlet-name>adminJSP</servlet-name>
      <jsp-file>/admin.jsp</jsp-file>
 </servlet>
 <servlet-mapping>
      <servlet-name>adminJSP</servlet-name>
      <url-pattern>/admin</url-pattern>
 </servlet-mapping>
       
 
  <servlet>
    <servlet-name>RegisterServlet</servlet-name>
    <servlet-class>
      com.goatstone.multidraw.RegisterServlet
    </servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>

  <servlet-mapping>
    <servlet-name>RegisterServlet</servlet-name>
    <url-pattern>/register</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>UnregisterServlet</servlet-name>
    <servlet-class>
      com.goatstone.multidraw.UnregisterServlet
    </servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>

  <servlet-mapping>
    <servlet-name>UnregisterServlet</servlet-name>
    <url-pattern>/unregister</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>PingServlet</servlet-name>
    <servlet-class>
      com.goatstone.multidraw.PingServlet  
    </servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>

  <servlet-mapping>
    <servlet-name>PingServlet</servlet-name>
    <url-pattern>/ping</url-pattern>
  </servlet-mapping>
  
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>


</web-app>
